<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Empleado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="AddEmpleado()">
    <ion-grid>
      <!-- Fila para CI-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">CI *</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.ci"
              name="ci"
              type="number"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['ci']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['ci'] }}
          </div>
        </ion-col>
      </ion-row>

      <!-- Fila para Apellidos y Nombres -->
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Nombres *</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.nombres"
              name="nombres"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['nombres']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['nombres'] }}
          </div>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Apellidos *</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.apellidos"
              name="apellidos"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['apellidos']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['apellidos'] }}
          </div>
        </ion-col>
      </ion-row>

        <!-- Resto de los campos en filas individuales -->
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Cargo *</ion-label>
              <ion-select
                [(ngModel)]="nuevoEmpleado.id_cargo"
                name="id_cargo"
                required>
                <ion-select-option
                  *ngFor="let cargo of cargos"
                  [value]="cargo.id"
                  >{{ cargo.nombre }}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <div *ngIf="errorMessages?.['id_cargo']" style="color: red; margin-bottom: 10px; text-align: center">
              {{ errorMessages['id_cargo'] }}
            </div>
          </ion-col>
        </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Celular *</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.telefono"
              name="telefono"
              type="number"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['telefono']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['telefono'] }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email Personal *</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.email"
              name="email"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['email']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['email'] }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Dirección *</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.direccion"
              name="direccion"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['direccion']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['direccion'] }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha Contratación</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.fecha_contratacion"
              name="fecha_contratacion"
              type="date"
              required
              readonly
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['fecha_contratacion']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['fecha_contratacion'] }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Salario</ion-label>
            <ion-input
              [(ngModel)]="nuevoEmpleado.salario"
              name="salario"
              type="number"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="errorMessages?.['salario']" style="color: red; margin-bottom: 10px; text-align: center">
            {{ errorMessages['salario'] }}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" type="submit">Agregar Empleado</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
