<ion-content [fullscreen]="true" id="container">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/R0.jpeg" class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/R1.jpeg" class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/R2.jpeg" class="d-block w-100" alt="Image 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div class="overlay">
    <h1>Nueva Era</h1>
    <p>Bienvenido a nuestra aplicación de gestión de repuestos. Aquí puedes administrar tus repuestos de manera eficiente.</p>
  </div>
</ion-content>