<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- This button opens the menu -->
    </ion-buttons>
    <ion-title>
      <ng-content></ng-content> <!-- This allows you to pass the title dynamically -->
    </ion-title>

    <ion-buttons slot="end">
      <div *ngIf="usuario" class="custom-margin">
        <h6>Bienvenido, {{ usuario.email }}!</h6>
      </div>
      
      <ion-button *ngIf="isAuthenticated" color="danger" (click)="logout()">
        Cerrar Sesión
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
