.ion-padding {
    width: 100%;
    max-width: 50%;
    margin-left: 25%;  
    margin-top: 7%; /* Adjust this value to move more down */
    background-color: black; /* Set background to black */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Optional: Add rounded corners */
  }