<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Empleados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-button (click)="openRegisterModal()" expand="full">Registrar Empleado</ion-button>



  <div>
    <ion-text color="danger" *ngIf="errorMessage"> {{ errorMessage }} </ion-text>
  </div>
  <ion-list>
    <ion-item *ngFor="let empleado of empleados">
      <ion-label>
        <h2>{{ empleado.cargo?.nombre }}</h2>
        <p class="pa">Nombres: {{ empleado.nombres }}</p>
        <p class="pa">Apellidos: {{ empleado.apellidos }}</p>
        <p class="pa">Salario: {{ empleado.salario }}</p>
      </ion-label>
      <ion-button color="danger" (click)="DeleteEmpleado(empleado.id)">Eliminar</ion-button>
      <ion-button color="warning" (click)="Create_Show_User(empleado.id)">Crear/Mostrar Usuario</ion-button>
      <ion-button color="primary" (click)="openUpdateModal(empleado)">Actualizar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
