.button-container {
    display: flex;
    flex-direction: column;
    /*gap: 4px; /* Espacio entre botones */
  }
  
.bottones {
    transform: scale(0.9); /* 0.9 representa el 90% del tamaño original */
    width: 200px;
  }

  .action-sheet-close-button {
    background-color: #f00; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    margin-top: 10px; /* Agrega margen superior para separarlo */
  }
  
  .custom-select {
    width: 300px;
    font-size: 14px;
  }
  