//.form-wrapper {
  //  width: 100%;
    //max-width: 1000px; /* Set a max width for the form */
    //margin: auto; /* Center the form */
   // margin-top: 50px; /* Space from the top */
    //background-color: #2c2c2c; /* Dark background for the form */
    //padding: 20px; /* Add padding */
   // border-radius: 10px; /* Rounded corners */
   // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */
//}

//ion-header {
  //  background-color: #333; /* Dark background for the header */
//}

//ion-content {
  //  background-color: #1a1a1a; /* Dark background for content */
//}

//ion-item {
  //  margin-bottom: 15px; /* Space between items */
//}

//ion-button {
  //  background-color: #ff9800; /* Orange background */
  //  color: white; /* White text */
  //  border-radius: 25px; /* Rounded corners *
//}
.button-container {
    display: flex;
    flex-direction: column;
    /*gap: 4px; /* Espacio entre botones */
  }
  
 .bottones {
    transform: scale(0.9); /* 0.9 representa el 90% del tamaño original */
    width: 155px;
  }

  .action-sheet-close-button {
    background-color: #f00; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    margin-top: 10px; /* Agrega margen superior para separarlo */
  }
  
  