<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Marcas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Marcas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-wrapper">
  <!-- Lista de marcas -->
  <ion-list>
    <ion-item *ngFor="let marca of marcas">
      <ion-label>
        <h2>{{ marca.nombre }}</h2>
        <p>{{ marca.pais }}</p>
        <p>{{ marca.email }}</p>
        <p>{{ marca.telefono }}</p>
        <p>{{ marca.direccion }}</p>
        <p>{{ marca.sitio_web }}</p>
        <p>{{ marca.descripcion }}</p>
      </ion-label>
      <ion-button color="danger" (click)="DeleteMarca(marca.id)">Eliminar</ion-button>
      <ion-button color="primary" (click)="selectMarca(marca)">Actualizar</ion-button>
    </ion-item>
  </ion-list>

  <!-- Formulario para agregar o editar una marca -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="marcaForm.nombre" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">País</ion-label>
    <ion-input [(ngModel)]="marcaForm.pais"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="marcaForm.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input [(ngModel)]="marcaForm.direccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input [(ngModel)]="marcaForm.telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sitio Web</ion-label>
    <ion-input [(ngModel)]="marcaForm.sitio_web"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="marcaForm.descripcion"></ion-input>
  </ion-item>

  <!-- Mostrar el botón "Agregar" o "Actualizar" según el estado de la marca -->
  <ion-button expand="full" *ngIf="!marcaForm.id" (click)="AddMarca()">Agregar Marca</ion-button>
  <ion-button expand="full" *ngIf="marcaForm.id" (click)="UpdateMarca()">Actualizar Marca</ion-button>
  <ion-button expand="full" color="light" *ngIf="marcaForm.id" (click)="cancelEdit()">Cancelar</ion-button>

  <!-- Mensaje de error -->
  <ion-note color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-note>
</div>
</ion-content>
