<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ng-content></ng-content>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-wrapper">
    <form (submit)="login()">
      <h4>INGRESE SUS CREDENCIALES</h4>
      <ion-item>
        <ion-label position="floating">Codigo</ion-label>
        <ion-input
          [(ngModel)]="email"
          name="email"
          required
          type="email"
        ></ion-input>
      </ion-item>
      <div *ngIf="errorMessages?.['email']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['email'] }}
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          [(ngModel)]="password"
          name="password"
          required
          [type]="passwordVisible ? 'text' : 'password'"
        ></ion-input>
        <ion-icon 
          [name]="passwordVisible ? 'eye-off' : 'eye'" 
          slot="end" 
          (click)="togglePasswordVisibility()" 
          color="white" 
          style="cursor: pointer;">
        </ion-icon>
      </ion-item>
      
      
      <div *ngIf="errorMessages?.['password']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['password'] }}
      </div>

      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    </form>

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size="12" class="ion-text-center">
          <div *ngIf="errorMessage" style="color: red">
            {{ errorMessage }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
