<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Repuesto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-wrapper">
    <form (submit)="AddRepuesto()">
      <ion-item>
        <ion-label position="floating">Codigo OEM *</ion-label>
        <ion-input [(ngModel)]="nuevoRepuesto.codigo_oem" name="codigo_oem" required></ion-input>
      </ion-item>
      <div *ngIf="errorMessages?.['codigo_oem']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['codigo_oem'] }}
      </div>

      <ion-item>
        <ion-label position="floating">Nombre *</ion-label>
        <ion-input [(ngModel)]="nuevoRepuesto.nombre" name="nombre" required></ion-input>
      </ion-item>
      <div *ngIf="errorMessages?.['nombre']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['nombre'] }}
      </div>

      <ion-item>
        <ion-label position="floating">Numero de Serie</ion-label>
        <ion-input [(ngModel)]="nuevoRepuesto.numero_serie" name="numero_serie" required></ion-input>
      </ion-item>
      <div *ngIf="errorMessages?.['numero_serie']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['numero_serie'] }}
      </div>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="nuevoRepuesto.descripcion" name="descripcion"></ion-input>
      </ion-item>
      <div *ngIf="errorMessages?.['descripcion']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['descripcion'] }}
      </div>

      <ion-item>
        <ion-label position="floating">Cantidad en stock</ion-label>
        <ion-input [(ngModel)]="nuevoRepuesto.cantidad_stock" name="cantidad_stock" type="number" required></ion-input>
      </ion-item>
      <div *ngIf="errorMessages?.['cantidad_stock']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['cantidad_stock'] }}
      </div>

      <ion-item>
        <ion-label>Categoría *</ion-label>
        <ion-select [(ngModel)]="nuevoRepuesto.id_categoria" name="id_categoria" required>
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="errorMessages?.['id_categoria']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['id_categoria'] }}
      </div>

      <ion-item>
        <ion-label>Marca *</ion-label>
        <ion-select [(ngModel)]="nuevoRepuesto.id_marca" name="id_marca" required>
          <ion-select-option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="errorMessages?.['id_marca']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['id_marca'] }}
      </div>

      <ion-item>
        <ion-label position="floating">Costo Unitario</ion-label>
        <ion-input [(ngModel)]="nuevoRepuesto.costo_unitario" name="costo_unitario" type="number" required></ion-input>
      </ion-item>
      <div *ngIf="errorMessages?.['costo_unitario']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['costo_unitario'] }}
      </div>

      <ion-item>
        <ion-label position="stacked">Seleccionar Imagen</ion-label>
        <input type="file" (change)="onImageSelected($event)" accept="image/*">
      </ion-item>
      <div *ngIf="errorMessages?.['image']" style="color: red; margin-bottom: 10px; text-align: center">
        {{ errorMessages['image'] }}
      </div>



      <ion-button expand="full" type="submit">Agregar Repuesto</ion-button>
    </form>
  </div>
</ion-content>
