<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" (click)="openRegisterModal()" expand="full">Registrar Categoria</ion-button>
  <div>
    <ion-text color="danger" *ngIf="errorMessage"> {{ errorMessage }} </ion-text>
    <ion-text color="success" *ngIf="Message"> {{ Message }} </ion-text>
    <br>
  </div>

  <ion-list>
    <ion-item *ngFor="let categoria of categorias">
      <ion-label>
        <h2>{{ categoria.nombre }}</h2>
        <p class="pa">Descripcion: {{ categoria.descripcion }}</p>
      </ion-label>
      <div class="button-container">
        <ion-button color="danger" >Eliminar</ion-button>
        <ion-button color="primary" (click)="openUpdateModal(categoria)">Editar</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
