<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-wrapper">
    <!-- Formulario para agregar una categoría -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="categoriaForm.nombre" required></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="AddCategoria()">Agregar Categoría</ion-button>

    <!-- Mensaje de error -->
    <ion-note color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-note>

    <!-- Lista de categorías -->
    <ion-list>
      <ion-item *ngFor="let categoria of categorias">
        <ion-label>{{ categoria.nombre }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>