<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Marca</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="AddMarca()">
    <ion-item>
      <ion-label position="floating">Nombre *</ion-label>
      <ion-input [(ngModel)]="nuevaMarca.nombre" name="nombre" required></ion-input>
    </ion-item>
    <div *ngIf="errorMessages?.['nombre']" style="color: red; margin-bottom: 10px; text-align: center">
      {{ errorMessages['nombre'] }}
    </div>

    <ion-item>
      <ion-label position="floating">País *</ion-label>
      <ion-select [(ngModel)]="nuevaMarca.pais" name="pais" required>
        <ion-select-option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="errorMessages?.['pais']" style="color: red; margin-bottom: 10px; text-align: center">
      {{ errorMessages['pais'] }}
    </div>
         

    <ion-item>
      <ion-label position="floating">Email de contacto</ion-label>
      <ion-input [(ngModel)]="nuevaMarca.email" name="email"></ion-input>
    </ion-item>
    <div *ngIf="errorMessages?.['email']" style="color: red; margin-bottom: 10px; text-align: center">
      {{ errorMessages['email'] }}
    </div>
    
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input [(ngModel)]="nuevaMarca.direccion" name="direccion" required></ion-input>
    </ion-item>
    <div *ngIf="errorMessages?.['direccion']" style="color: red; margin-bottom: 10px; text-align: center">
      {{ errorMessages['direccion'] }}
    </div>

    <!-- 
    <ion-item>
      <ion-label position="floating">Celular de contacto (+[Código de País]    [Número de Celular])</ion-label>
      <ion-input [(ngModel)]="nuevaMarca.telefono" name="telefono" required></ion-input>
    </ion-item>
    <div *ngIf="errorMessages?.['telefono']" style="color: red; margin-bottom: 10px; text-align: center">
      {{ errorMessages['telefono'] }}
    </div>
    -->
    

    <ion-item>
      <ion-label position="floating">Sitio_web</ion-label>
      <ion-input [(ngModel)]="nuevaMarca.sitio_web" name="sitio_web" required></ion-input>
    </ion-item>
    <div *ngIf="errorMessages?.['sitio_web']" style="color: red; margin-bottom: 10px; text-align: center">
      {{ errorMessages['sitio_web'] }}
    </div>

    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input [(ngModel)]="nuevaMarca.descripcion" name="descripcion" required></ion-input>
    </ion-item>
    <div *ngIf="errorMessages?.['descripcion']" style="color: red; margin-bottom: 10px; text-align: center">
      {{ errorMessages['descripcion'] }}
    </div>

    <ion-button expand="full" type="submit">Agregar Marca</ion-button>
  </form>
</ion-content>
