<ion-header>
  <ion-toolbar>
    <ion-title>Repuestos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-wrapper">
  <form (submit)="agregarRepuesto()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoRepuesto.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="nuevoRepuesto.descripcion" name="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad en stock</ion-label>
      <ion-input [(ngModel)]="nuevoRepuesto.cantidad_stock" name="cantidad_stock" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fabricante</ion-label>
      <ion-input [(ngModel)]="nuevoRepuesto.fabricante" name="fabricante" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="nuevoRepuesto.categoria" name="categoria" required>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select [(ngModel)]="nuevoRepuesto.marca" name="marca" required>
        <ion-select-option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Costo Unitario</ion-label>
      <ion-input [(ngModel)]="nuevoRepuesto.costo_unitario" name="costo_unitario" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio Unitario</ion-label>
      <ion-input [(ngModel)]="nuevoRepuesto.precio_unitario" name="precio_unitario" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Seleccionar Imagen</ion-label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*">
    </ion-item>

    <ion-button expand="full" type="submit">Agregar Repuesto</ion-button>
  </form>

  <div>
    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </div>

  <ion-list>
    <ion-item *ngFor="let repuesto of repuestos">
      <ion-label>
        <h2>{{ repuesto.nombre }}</h2>
        <p>Descripción: {{ repuesto.descripcion }}</p>
        <p>Cantidad en stock: {{ repuesto.cantidad_stock }}</p>
        <p>Precio unitario: {{ repuesto.precio_unitario }}</p>
        <!-- Asegúrate de que la propiedad imagen_url exista en el objeto repuesto -->
        <img *ngIf="repuesto.imagen_url" [src]="repuesto.imagen_url" alt="Imagen del repuesto" style="width: 100px; height: auto;">
      </ion-label>
      <ion-button color="danger" (click)="eliminarRepuesto(repuesto.id)">Eliminar</ion-button>
      <ion-button color="primary" (click)="openUpdateModal(repuesto)">Actualizar</ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
