<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-wrapper">
    <form (submit)="register()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          [(ngModel)]="email"
          name="email"
          required
          type="email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          [(ngModel)]="password"
          name="password"
          required
          type="password"
        ></ion-input>
      </ion-item>
<!--
     <ion-item>
      <ion-label position="floating">Empleado</ion-label>
      <ion-input
        [(ngModel)]="id_empleado"
        name="id_empleado"
        required
        type="number"
      ></ion-input>
    </ion-item>
    -->
   

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input
        [(ngModel)]="password_confirmation"
        name="password_confirmation"
        required
        type="password"
      ></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>

  <ion-button routerLink="/empleados">Volver a ver los empleados</ion-button>
  <!-- Mostrar el mensaje de error -->
  <ion-text color="danger" *ngIf="errorMessage"> {{ errorMessage }} </ion-text>
</div>
</ion-content>
